

/*周辺の隙間をリセットするスタイル*/
.main_button_style{

  padding: 0;
  border: none;
  background: transparent;

}

/*ボタン周辺の隙間をリセットするスタイル*/
.main_button_display{

  margin-top: -30px;
  border: none;
  background: transparent;

}

/*メイン画面ボタンの基本スタイル*/
.main_button_img {
    display: block;
    height:30px;
    border-style:inset;
}

/*備考を開くボタン*/
.remarks_button {
  height:30px;
  border-style:inset;
}

/*削除ボタンの非活性状態のスタイル*/
#delete {
    opacity: 0.3;
}

/*ボタンの上揃え*/

.top {
  vertical-align: top;
}

/*ブートストラップのmarginの隙間を消す*/
.margin-reset{
  margin-top: -10px;
}

/*テーブルスクロールのcss*/
thead{
  margin-bottom: -16px;
}

table th ,td {
  border:1px solid;
  }

.table_sticky {
  display: block;
  overflow-y: scroll;
  max-height: 120px;
  border:1px solid;
  border-collapse: collapse;
}
.table_sticky thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  background: gold;
  border-top:#FFFFFF;
}

/*ソート機能のcss*/
.sorter-false {
  background-image: none;
}



