.little-information-field {
    position: relative;
    display:flex;
}
    
.stamp-area {
    z-index: 10;
    background-color: #FBE2B0;
    height: 200px;
    border: solid 2px #8ec6ff;
    position: absolute;
}


.stamp_button {
    height: 15px;
}

.stamp_cicrle{
    padding: 2px 2px;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 1px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}

.stamp_names{
    position: relative;
    padding: 20px;
    background-color: #fff3ad;
  }
  /* 三角アイコン - 左右の中心 */
  .stamp_names::before{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    left: 0;
    right: 0;
    bottom: -15px;
    margin: 0 auto;
    border-top: 15px solid #fff3ad;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
  }