html, body {
    width: 100%;
    box-sizing: border-box;
}
.header-content {
    width: 100%;
}

.hasStickyHeaders {
    border:1px solid;
    border-collapse: collapse;
    position: relative;
}

.hasStickyHeaders thead th {
    position: sticky;
    top: 0;
    background: gold;
    border-top:#FFFFFF;
}

#panlist {
    display: flex;
    border: 1px solid;
    position: relative;
}

.barlist {
    list-style-type: none;
    padding: 0;
    position: absolute;
    border: 1px solid;
    right: auto;
    z-index: 300;
    background-color: white;
}

.projection_bar {
    color: blue;
}

.current_bar {
    font-weight: bold;
}

.notdisplaylist {
    display: none;
}

@media screen and (max-width: 800px) {
    html, body {
        width: 100%;
        box-sizing: border-box;
        font-size: 0.9rem;
    }
}